[submodule "3rd/concurrentqueue"]
	path = 3rd/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "3rd/evpp"]
	path = 3rd/evpp
	url = https://github.com/Qihoo360/evpp.git
[submodule "3rd/rapidjson"]
	path = 3rd/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "3rd/xxHash"]
	path = 3rd/xxHash
	url = https://github.com/Cyan4973/xxHash.git
